 @import "bootstrap-sprockets";
 @import "bootswatch/cyborg/variables";
 @import "bootstrap";
 @import "bootswatch/cyborg/bootswatch";
 

#wiki-preview {
  height: 10rem;
  width: 20rem;
  background-color: white;
}

#wiki_body {
  height: 10rem;
  width: 20rem;
}
